<!-- Educación  -->
<section class="card rounded-bottom-0" id="educación">
  <div class="row card-body">
    <div class="col">
      <h2 class="card-title"> Educación </h2>
    </div>
    <app-buttons typeButton="add" class="col d-flex justify-content-end" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      *ngIf="hasRoute('/edicion')"    
    ></app-buttons>
  </div>

  <app-edu-exp-add class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" [esEduc]=true
    (addEducation)="onAddEducation($event)"
  ></app-edu-exp-add>

  <div class="mb-3" *ngFor="let edu of education">
    <div class="card-body mx-5 mb-3">
      <div class="row">
        <div class="col container text-center img-fluid align-items-end" style="max-width: 200px; max-height: 100px;">
          <img style="max-width: 200px; max-height: 100px;" [src]="edu.urlLogo" alt="Logo">
        </div>

        <div class="col">

          <div class="row">
            <div class="col">
              <h4 class="card-title ">{{edu.institucion}}</h4>
              <h5 class="card-text">{{edu.titulo}}</h5>
              <h6 class="card-text">{{edu.fechaDesde + '  |  ' + edu.fechaHasta}}</h6>
              <p class="card-text">{{edu.descripcion}}</p>
            </div>

            <div class="col">
              <div class="row">
                <div class="col">
                  <app-buttons typeButton="edit" data-bs-target="#eduEditModal" data-bs-toggle="modal"
                    (btnClick)="onEdit(edu)"
                    *ngIf="hasRoute('/edicion')"
                  ></app-buttons>
                  <app-buttons typeButton="delete" 
                    (btnClick)="onDeleteEducation(edu)"
                    *ngIf="hasRoute('/edicion')"
                  ></app-buttons>

                  <app-edu-exp-edit class="modal fade" id="eduEditModal" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="eduEditModalLabel" aria-hidden="true"
                    esEduc="edu"
                    id={{editingItem.id}}
                    nombre={{editingItem.titulo}} 
                    institucion={{editingItem.institucion}} 
                    fechaDesde={{editingItem.fechaDesde}} 
                    fechaHasta={{editingItem.fechaHasta}}
                    descripcion={{editingItem.descripcion}}
                    (editEducation)="onEditEducation($event)"
                  ></app-edu-exp-edit>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Experiencia -->
<section class="card mb-3 rounded-top-0" id="experiencia" id="experiencia-y-educacion">

  <div class="row card-body">
    <div class="col">
      <h2 class="card-title"> Experiencia </h2>
    </div>
    <app-buttons typeButton="add" class="col d-flex justify-content-end" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop2"
      *ngIf="hasRoute('/edicion')"
    ></app-buttons>
  </div>

  <app-edu-exp-add class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" [esEduc]=false
    (addExperience)="onAddExperience($event)"
  ></app-edu-exp-add>

  <div class="mb-3" *ngFor="let exp of experience">
    <div class="card-body mx-5 mb-3">

      <div class="row">
        <div class="col container text-center" style="background-color: grey; max-width: 200px; max-height: 100px;">
          <img style="max-width: 200px; max-height: 100px;" [src]="exp.urlLogo" alt="Logo">
        </div>
        <div class="col">

          <div class="row">
            <div class="col">
              <h4 class="card-title ">{{exp.cargo}}</h4>
              <h5 class="card-text">{{exp.institucion}}</h5>
              <h6 class="card-text">{{exp.fechaDesde}} | {{exp.fechaHasta}}</h6>
              <p class="card-text">{{exp.descripcion}}</p>
            </div>
            <div class="col text-start">
              <div class="row">
                <div class="col">
                  <app-buttons typeButton="edit" (btnClick)="onEdit(exp)"
                    data-bs-toggle="modal"
                    data-bs-target="#expEditModal"
                    *ngIf="hasRoute('/edicion')"
                  ></app-buttons>
                  <app-buttons typeButton="delete" (btnClick)="onDeleteExperience(exp)"
                    *ngIf="hasRoute('/edicion')"
                  ></app-buttons>

                  <app-edu-exp-edit class="modal fade" id="expEditModal" data-bs-backdrop="static"
                  data-bs-keyboard="false" tabindex="-1" aria-labelledby="expEditModalLabel" aria-hidden="true"
                    esEduc="edu"
                    id={{editingItem.id}}
                    nombre={{editingItem.cargo}} 
                    institucion={{editingItem.institucion}} 
                    fechaDesde={{editingItem.fechaDesde}} 
                    fechaHasta={{editingItem.fechaHasta}}
                    descripcion={{editingItem.descripcion}}
                    (editExperience)="onEditExperience($event)"
                  ></app-edu-exp-edit>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>