<div class="card rounded-top-0 mb-3" id="acerca-de">
  
  
  <div class="row card-body">
    <div class="col" style="max-width: 200px;">
      <img style="max-width: 200px; max-height: 200px; " src="assets/imágenes/profile-picture.jpg"
        class="card-body rounded-circle profile img-fluid" alt="profile-picture">
    </div>

    <div class="col fapen">
      <h1 class="card-title">Luciano Augusto Federicci</h1>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago </small></p>
    </div>

    <fa-icon class="col" [icon]="fapen"></fa-icon>
  </div>
</div>