<nav class="navbar bg-primary mb-3" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/imágenes/arg-programa.png" alt="Logo" width="50" height="34"
          class="d-inline-block align-text-top">
        "Argentina Programa" #YoProgramo</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/luchofedericci">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Linkdn</a>
        </li>
        <li>
          <form class="d-flex">
            <button type="button" class="btn btn-outline-warning">Login</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="info mx-auto card rounded-bottom-0" id="banner">
    <img src="assets/imágenes/abanner.png" class="card-img-top" alt="banner">
  </div>
