<!---->
<nav class="navbar bg-primary mb-3" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/imágenes/arg-programa.png" alt="Logo" width="50" height="34"
          class="d-inline-block align-text-top">
        "Argentina Programa" #YoProgramo</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/luchofedericci">Instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Linkdn</a>
        </li>
        <li>
        <!--Boton de logeo-->
          <button type="button" class="btn" [ngClass]="hasRoute('/edicion')?  'btn-success' : 'btn-outline-warning'" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
            (click)="hasRoute('/edicion')? changeRoute():''"  
          >{{hasRoute('/edicion')? 'Terminar Edicion' : 'Iniciar Sesion' }}</button>
        </li>
      </ul>
    </div>
  </nav>

<!-- Interfaz de Logeo -->
<app-login class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
  aria-labelledby="offcanvasWithBothOptionsLabel">
</app-login>

<!--Banner-->
  <div class="container mx-auto rounded-bottom-0" id="banner">
    <img src="assets/imágenes/abanner.png" class="card-img-top" alt="banner">
  </div>
