<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="addProjectModalLabel">Agregar nuevo Proyecto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form (ngSubmit)="onAdd()"> 
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Nombre del proyecto</label>
                    <input class="form-control" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombre">
                </div>
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" rows="3" placeholder="Breve descripción del Proyecto"
                        name="descripcion" [(ngModel)]="descripcion"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Dirección URL</label>
                    <input class="form-control" type="text" placeholder="Inserte URL" name="urlProyecto"
                        [(ngModel)]="urlProyecto">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fecha</label>
                    <input class="form-control" name="fecha" type="text" placeholder="Dia/Mes/Año" name="fecha"
                        [(ngModel)]="fecha">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar Proyecto</button>
            </div>
        </form>

    </div>
</div>