<div class="card mb-3" id="proyectos">
  <div class="row card-body">
    <div class="col">
      <h2 class="card-title"> Proyectos </h2>
    </div>
    <app-buttons typeButton="add" class="col d-flex justify-content-end"
      data-bs-toggle="modal"
      data-bs-target="#addProjectModal"
      *ngIf="hasRoute('/edicion')" 
    ></app-buttons>

    <app-projects-add class="modal fade" id="addProjectModal" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true"
      (addProject)="onAddProject($event)"
    ></app-projects-add>

  </div>

  <div *ngFor="let proyectos of projects">
    <div class="card mx-5 mb-3">
      <div class="card-body">
        <div class="row">

          <div class="col">
            <h5 class="card-title col">{{proyectos.nombre}}</h5>
            <p class="card-text">{{proyectos.descripcion}}</p>
            <a href={{proyectos.urlProyecto}} class="btn btn-primary">Ir al Proyecto</a>
          </div>
          <div class="col-1 d-flex justify-content-end">
            <app-buttons typeButton="edit" 
              data-bs-toggle="modal"
              data-bs-target="#editProjectModal"
              (btnClick)="onEdit(proyectos)"
              *ngIf="hasRoute('/edicion')" 
            ></app-buttons>
            <app-buttons typeButton="delete" (btnClick)="onDeleteProject(proyectos)" *ngIf="hasRoute('/edicion')" >
            </app-buttons>

            <app-projects-edit class="modal fade" id="editProjectModal" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true"
            projectName={{editingProject.nombre}}
            projectDescription={{editingProject.descripcion}}
            projectDate={{editingProject.fecha}}
            projectURL={{editingProject.urlProyecto}}
            > </app-projects-edit>
            

          </div>
        </div>

      </div>
      <div class="card-footer">
        {{proyectos.fecha}}
      </div>
    </div>

  </div>
</div>