<div class="card mb-3" id="proyectos">
    <div class="card-body">
      <h2 class="card-title"> Proyectos</h2>
    </div>

    <div class="card text-center mx-5 mb-3">
      <div class="card-body">
        <h5 class="card-title">Proyecto 1 </h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ir al Proyecto</a>
      </div>
      <div class="card-footer text-muted">
        13 de febrero de 2023
      </div>
    </div>

    <div class="card text-center mx-5 mb-3">
      <div class="card-body">
        <h5 class="card-title">Proyecto 2</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ir al Proyecto</a>
      </div>
      <div class="card-footer text-muted">
        13 de febrero de 2023
      </div>
    </div>


    <!--
    <div class="card mb-3 mx-5">
        <div class="row g-0">
           
            <div class="col-md-4">
                <img src="imágenes/Grey_full.png" class="img-fluid rounded-start" alt="imagen-proyecto">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Proyecto 3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional
                        content. </p>
                    <div class="card-body text-end">
                        <a href="#" class="btn btn-primary">Ir al Proyecto</a>
                    </div>



                </div>
            </div>
            <div class="card-footer text-center text-muted">
                13 de febrero de 2023
            </div>
        </div>
    </div> -->

  </div>