<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalEdicionLabel">Editar Acerca-de</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form (ngSubmit)="onEdit()">
            <div class="modal-body">


                <div class="row mb-3">
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]='nombre' [value]='nombre'>
                    </div>
                    <div class="col">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]='apellido' [value]='apellido'>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="titulo" class="form-label">Título obtenido</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" [(ngModel)]='titulo' [value]='titulo'>
                </div>

                <div>
                    <label for="descripcion">Descripcion</label>
                    <textarea type="text" name="acercaDe" id="acercaDe" class="form-control" rows="3" [(ngModel)]='acercaDe'>{{acercaDe}}</textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">URL Imágen de perfil</label>
                    <input type="text" name="urlFoto" id="urlFoto" class="form-control" [(ngModel)]='urlFoto' [value]='urlFoto'>
                </div>


                <!-- <div class="input-group mb-3 mt-3">
                    <label class="input-group-text" for="inputGroupFile02">Imágen de perfil</label>
                    <input type="file" class="form-control" id="inputGroupFile02">
                </div> -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>