<div class="card mb-3" id="hard&soft-skills">
  <div class="row card-body">
    <div class="col">
      <h2 class="card-title"> Hard & Soft Skills </h2>
    </div>
    <fa-icon class="col" [icon]="faAdd"></fa-icon>
  </div>


  <div *ngFor="let skill of skills">
    <div class="card-body mb-5 mx-5">
      <div class="row">
        <h5 class="col display-6">{{skill.habilidad}}<small class="text-muted fst-italic"> ~ With faded secondary text</small> </h5>
        <fa-icon class="col" [icon]="faPen"></fa-icon>
        <fa-icon class="col" [icon]="faTrash" (click)="onDeleteSkill(skill)"></fa-icon>
      </div>

      <div class="progress" role="progressbar" aria-label="striped example" [attr.aria-valuenow]="skill.porcentaje"
        aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar bg-danger" [style.width]="skill.porcentaje">
        </div>
      </div>
    </div>
  </div>

</div>