<div class="modal-dialog modal-dialog-centered modal-lg">

    <div class="modal-content">
        <div class="modal-header">

            <div [ngSwitch]="esEduc">
                <h1 *ngSwitchCase='true' class="modal-title fs-5" id="staticBackdropLabel"> Agregar nueva Educación
                </h1>
                <h1 *ngSwitchCase='false' class="modal-title fs-5" id="staticBackdropLabel"> Agregar nueva Experiencia
                    Laboral</h1>
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form (ngSubmit)="onAdd()">
            <div class="modal-body">

                <div class="mb-3">
                    <label for="institucion" class="form-label">Institución</label>
                    <input class="form-control" name="institucion" id="institucion" placeholder="Nombre de la Institución" [(ngModel)]="institucion">
                </div>

                <div class="mb-3">
                    <div>
                        <div>
                            <label for="cargo" class="form-label">{{esEduc? 'Nombre del Título' : 'Cargo ocupado' }}</label>
                            <input class="form-control" id="cargo" name="cargo" [placeholder]="esEduc? 'Nombre del Título' : 'Nombre del Cargo'" [(ngModel)]="nombre">
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="descripcion" rows="3"
                        placeholder="Breve descripción" [(ngModel)] = "descripcion"></textarea>
                </div>

                <div class="row mb-3">
                    <div class="col-md mb-3 mx-3 text-center">
                        <label for="fechaDesde" class="form-label">Fecha de inicio</label>
                        <div class="row">
                            <!-- <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Día">
                            </div>
                            <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Mes">
                            </div>
                            <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Año">
                            </div> -->
                            <div class="col">
                                <input class="form-control text-center" name="fechaDesde" id="fechaDesde" placeholder="Fecha" [(ngModel)]="fechaDesde">
                            </div>
                        </div>
                    </div>

                    <div class="col-md mb-3 mx-3 text-center">
                        <label for="fechaHasta" class="form-label">Fecha de finalización</label>
                        <div class="row">
                            <!-- <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Día">
                            </div>
                            <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Mes">
                            </div>
                            <div class="col">
                                <input class="form-control text-center" id="exampleFormControlInput1" placeholder="Año">
                            </div> -->
                            <div class="col">
                                <input class="form-control text-center" name="fechaHasta" id="fechaHasta" placeholder="Fecha" [(ngModel)]="fechaHasta">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="input-group mb-3 mt-5">
                    <label class="input-group-text" for="inputGroupFile02">Logo de la Institución</label>
                    <input type="file" class="form-control" id="inputGroupFile02">
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
            </div>

        </form>

    </div>





</div>